[Unit]
Description=TyniSpace-RPC Service
Documentation=https://github.com/xenoncolt/tynispace-rpc
After=network.target

[Service]
Type=simple
ExecStart=/home/username/.config/tynispace-rpc/executable
Restart=on-failure

[Install]
WantedBy=default.target
